<div class="d-flex flex-column flex-fill container-chat p-4">
    <ul class="list-message flex-fill">
</ul>
    <div class="d-flex">
        <input class="form-control flex-fill mr-2" type="text" id="input">
        <button class="btn btn-md btn-primary">Envoyer</button>
    </div>
</div>